.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gridItem {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card,
.card div:first-child {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.cardClasses {
  margin-bottom: 1rem;
}

.cardButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  svg {
    margin-right: 0.2rem;
  }
}

.cardRemoveButton {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  color: red;
  background-color: transparent;
}

.cardCharacterClass {
  display: block;
}

.empty {
  margin-bottom: 1rem !important;
}
