/* Layout */
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .ant-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.main-content {
  flex: 1 0 auto;
}

.main-footer {
  flex-shrink: 0;
}

/* Util-classes */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.centered {
  margin: auto !important;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 3rem;
}

.divider {
  margin: 1rem 0 !important;
}
