.property {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem !important;

  img {
    margin-right: 0.3rem;
  }
}

.title {
  font-weight: 700 !important;
  margin-right: 0.3rem;
}

.dividerLarge {
  margin: 1rem 0 !important;
}

.dividerSmall {
  margin: 0.5rem 0 !important;
}

.materialsBlock {
  display: flex;
  flex-wrap: wrap;
}