.root {
  flex-grow: 1;
}

.header {
  z-index: 100;
  position: relative;
  padding: 0 !important;
  height: auto !important;
  min-height: 64px;

  .switch {
    background-color: #1890ff;
  }
}

.container {
  display: grid;
  grid-template-columns: auto max-content min-content 1fr;
  grid-template-areas: 'logo search switch user';
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 0 1rem !important;
  background-color: #fff !important;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 'search search search' 'logo switch user';
    grid-gap: 0;
  }
}

.search{
  grid-area: search;
  min-width: 300px;
  max-width: 400px;
  align-self: center;
  justify-self: start;
}

@media (max-width: 767px) {
  .search {
    max-width: 100%;
    padding-top: 1rem;
  }
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: baseline;
  width: min-content;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.list {
  grid-area: user;
  justify-self: end;
}
