.__list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-top: 6rem;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
  grid-gap: 1rem;
}

.__card {
  height: 100%;
  border: 0;
  border-color: transparent;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: none;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .__header {
      background: #667eea;
      background-image: linear-gradient(115deg, #667eea 0%, #764ba2 100%);
    }
  }
}

.__header {
  position: relative;
  color: white;
  background: #667eea;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.__property {
  display: flex;
  margin-bottom: 0.4rem !important;
}

.__title {
  display: flex;
  align-self: flex-start;
  font-weight: 700;

  img {
    padding-right: 0.5rem;
  }
}

.__value {
  padding: 0 0.5rem;
}

.__subheader {
  color: #fff;
}

.__source {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  color: #fff !important;
}
